* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: aliceblue;
}

.container {
    width: 75%;
    margin: 50px auto 0;
}

.calc {
    width: 400px;
    border: 2px solid darkorchid;
    background-color: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 3px;
}

.calc__result {
    grid-column: -1 / 1;
    text-align: end;
    font-size: 24px;
    padding: 15px;
}

.calc__btn {
    border: none;
    background-color: blueviolet;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.calc__btn:hover {
    opacity: 0.8;
}

.calc__btn:active {
    box-shadow: 1px 10px 10px black;
}

 .btn {
    background-color: rgb(169, 149, 179) !important;
}